/*页面样式初始化声明*/

html, body, div, p, img, form, input, textarea, a, em, i, s, article, embed, footer, h1, h2, h3, h4, h5, h6, header, section, time, track, video, nav, datalist, ul, ol, dl, table, tr, td {
    margin: 0;
    padding: 0;
    /*-webkit-touch-callout:none;*/
    /*-webkit-user-select:none;*/
    /*-khtml-user-select:none;*/
    /*-moz-user-select:none;*/
    /*-ms-user-select:none;*/
    /*user-select:none;*/
}
body {
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    font-size: 12px;
    font-family: "PingFang SC", "Noto Sans Han", "常州华文的黑体-简", "MicroSoft YaHei", sans-serif; /*备用的默认字体*/
    color: #333;
}

ul, ol, dl {
    list-style: none;
}

input, textarea {
    outline-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0); /*清除移动端点击显示的遮罩层*/
}

img {
    display: block;
    border: none;
}

table {
    border-collapse: collapse;
}

/*检测非移动端浏览遮罩层*/
.notmobile {
    width: 100%;
    height: 100%;
    background-color: #b22023;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 100px;
    z-index: 100;
}



.minright,.minrightw{
    display: inline-block;
    width: 4px;
    height: 7px;
    background: url("../images/ym-sprites.png") no-repeat;
    background-size: 512px 1024px;
    background-position: -78px -148.5px;
}

.minrightw{
    background-position: -146px -148.5px;
}


/*最下方导航*/
.entry {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 49px;
    background-color: #fff;
    box-shadow: 0 -2px 2px #eee;
}

.entry a {
    float: left;
    width: 25%;
    height: auto;
    padding-top: 10px;
    color: #333;
}

.entry a i {
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/ym-sprites.png") no-repeat;
    background-size: 512px 1024px;
    background-position: 0 -278px;
    margin: 0 auto;
}

.entry a.sort i {
    background-position: -41px -278px;
}

.entry a.order i {
    background-position: -82px -278px;
}

.entry a.user i {
    background-position: -123px -278px;
}

.entry a.current p {
    color: #d33;
}

.entry a.index.current i {
    background-position: 0 -237px;
}

.entry a.sort.current i {
    background-position: -41px -237px;
}

.entry a.order.current i {
    background-position: -82px -237px;
}

.entry a.user.current i {
    background-position: -123px -237px;
}

.entry a p {
    text-align: center;
    line-height: 22px;
}

.entry a.order{
    position: relative;
}

.entry a.order .cartnum{
    position: absolute;
    padding: 0 4px;
    background-color: #f33;
    color: #fff;
    right: -2px;
    top: 0;
    border-radius: 50%;
}