/*满屏*/
body,html{
    height: 100%;
}
/*分类主体*/
.jd_category{
    padding-top: 45px;
    height: 100%;
}
/*分类盒子左侧*/
.jd_category_left{
    width: 90px;
    height: 100%;
    overflow: hidden;
    float: left;
}

.jd_category_left > ul{

}
.jd_category_left > ul > li{
    height: 50px;
    width: 90px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #f0f0f0;
}
.jd_category_left > ul > li.now{
    background: #f0f0f0;
}
.jd_category_left > ul > li.now a{
    color: #f33;
}
.jd_category_left > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
}

/*分类盒子右侧*/
.jd_category_right{
    height: 100%;
    overflow: hidden;
}
/*内容*/
.jd_category_right_con > .banner{
    width: 100%;
    display: block;
    padding: 10px;
}
.jd_category_right_con > .banner >img{
    width: 100%;
    display: block;
}
.jd_category_right_con > .product{
    padding: 10px;
}
.jd_category_right_con > .product > h3{
    font-size: 12px;
    margin-bottom: 4px;
}
.jd_category_right_con > .product > ul > li{
    width: 33.33%;
    float: left;
}
.jd_category_right_con > .product > ul > li > a{
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border-right: 1px solid #f0f0f0;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    color: #666;
}
.jd_category_right_con > .product > ul > li > a > p{
    height: 25px;
    white-space:nowrap;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
}
.jd_category_right_con > .product > ul > li > a >img{
    width: 100%;
    /*max-width: 140px;*/
    /*max-height: 88px;*/
    height: 100%;
    display: block;
    margin: 4px auto;
}

.jd_category_right_con > .brand > ul > li{
    width: 25%;
    float: left;
}
.jd_category_right_con > .brand > ul > li > a > img{
    width: 100%;
    max-width: 62.5px;
    max-height: 32px;
}


/*最下方导航*/
.entry {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 49px;
    background-color: #fff;
    box-shadow: 0 -2px 2px #eee;
}

.entry a {
    float: left;
    width: 25%;
    height: auto;
    padding-top: 10px;
    color: #333;
}
.entry a i {
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/ym-sprites.png") no-repeat;
    background-size: 512px 1024px;
    background-position: 0 -278px;
    margin: 0 auto;
}

.entry a.sort i {
    background-position: -41px -278px;
}

.entry a.order i {
    background-position: -82px -278px;
}

.entry a.user i {
    background-position: -123px -278px;
}

.entry a.current p {
    color: #d33;
}

.entry a.index.current i {
    background-position: 0 -237px;
}

.entry a.sort.current i {
    background-position: -41px -237px;
}

.entry a.order.current i {
    background-position: -82px -237px;
}

.entry a.user.current i {
    background-position: -123px -237px;
}

.entry a p {
    text-align: center;
    line-height: 22px;
}

.entry a.order{
    position: relative;
}

.entry a.order .cartnum{
    position: absolute;
    padding: 0 4px;
    background-color: #f33;
    color: #fff;
    right: -2px;
    top: 0;
    border-radius: 50%;
}