body {
    background-color: #f0f0f0;
}
.main{
    overflow: hidden;
}
.header {
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    box-shadow: 0 2px 2px 2px #f0f0f0;
    position: fixed;
    z-index: 100;
}

.title {
    width: 100%;
    height: 44px;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
}

.login-back {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 0;
}

.login-back i {
    display: block;
    width: 22px;
    height: 22px;
    background: url("../../images/ym-sprites.png") no-repeat;
    background-size: 512px 1024px;
    background-position: -52px -444px;
    margin: 11px;
}


.user,.other{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin: 49px 0 5px 0;
}

.user li,.other li{
    width: 100%;
    height: 44px;
    padding: 0 15px;
    line-height: 44px;
    border-top: 1px solid #f0f0f0;
    box-sizing: border-box;
}
.user li:first-child,.other li:first-child{
    border-top: none;
}
.user li .left,.other li .left{
    float: left;
}
.user li .right,.other li .right{
    float: right;
    color: #333;
}
.user li .right span,.other li .right span{
    font-family: "ו";
    font-weight: bold;
}

/*.user li:first-child{*/
    /*height: 100px;*/
    /*line-height: 100px;*/
/*}*/

/*.user li:first-child .right{*/
    /*position: relative;*/
    /*width: 100px;*/
    /*height: 100px;*/
/*}*/

/*.user li:first-child .right span{*/
    /*margin-left: 94px;*/
/*}*/

.user li .right img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 0;
    position: absolute;
}

.other{
    margin-top: 5px;
}


.other .right .enterprise{
    display: inline-block;
    width: 13px;
    height: 16px;
    background-color: #369;
    vertical-align: middle;
}

.login{
    width: 100%;
    height: 44px;
    text-align: center;
    line-height: 44px;
    padding: 0 15px;
    margin-top: 10px;
    box-sizing: border-box;
}
.login a{
    display: block;
    width: 100%;
    height: 44px;
    background-color: #f33;
    color: #fff;
    border-radius: 6px;
}