body {
    background-color: #f0f0f0;
}

.main {
    overflow: hidden;
}

.header {
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    box-shadow: 0 2px 2px 2px #f0f0f0;
    position: fixed;
    z-index: 100;
}

.title {
    width: 100%;
    height: 44px;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
}

.login-back {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 0;
}

.login-back i {
    display: block;
    width: 22px;
    height: 22px;
    background: url("../../images/ym-sprites.png") no-repeat;
    background-size: 512px 1024px;
    background-position: -52px -444px;
    margin: 11px;
}


.box{
    width: 100%;
    height: auto;
    padding: 0 15px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 10px 0;
}

.box:nth-child(2){
    margin-top: 54px;
}

.content{
    width: 100%;
    height: auto;
    padding: 6px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
}
.box p:first-child{
    height: 30px;
    line-height: 30px;
}
.box p:first-child .name{
    float: left;
    font-size: 14px;
}
.box p:first-child .date{
    float: right;
}
.content .text{
    line-height: 24px;
}
