body {
    background-color: #f0f0f0;
}
.main{
    overflow: hidden;
}
.header {
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    box-shadow: 0 2px 2px 2px #f0f0f0;
    position: fixed;
    z-index: 100;
}

.title {
    width: 100%;
    height: 44px;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
}

.login-back {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 0;
}

.login-back i {
    display: block;
    width: 22px;
    height: 22px;
    background: url("../../images/ym-sprites.png") no-repeat;
    background-size: 512px 1024px;
    background-position: -52px -444px;
    margin: 11px;
}


/*收货地址*/
.address{
    width: 100%;
    height: 98px;
    background-color: #fff;
    margin: 49px 0 5px 0;
    padding: 0 15px 10px 15px;
    box-sizing: border-box;
}
.address a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.addresstop p{
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #333;
}

.addresstop p .tel{
    margin-left: 20px;
}
.addressbottom{
    width: 100%;
    height: 44px;
    padding-right: 10px;
    overflow: hidden;
    box-sizing: border-box;
}
.addressbottom p{
    line-height: 22px;
    font-size: 12px;
    color: #999;
}
.address > a > span{
    position: absolute;
    top: 50%;
    right: 0;
    width: 4px;
    height: 7px;
    margin-top: -3.5px;
    line-height: 44px;
    text-align: right;
    font-family: '宋体';
    font-weight: bold;
}
.shoping{
    width: 100%;
    height: auto;
    background-color: #fff;
}

.shoping li{
    border-top: 1px solid #f0f0f0;
    padding: 0 15px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.shoping li:first-child{
    border-top: none;
}
.shoping .shopleft{
    width: 110px;
    height: 110px;
    padding: 5px 5px 5px 0;
    box-sizing: border-box;
    position: absolute;
}
.shopleft img{
    width: 100px;
    height: 100px;
}
.shopright{
    width: 100%;
    height: 110px;
    padding-left: 110px;
    box-sizing: border-box;
}
.shoprightin{
    width: 100%;
    height: 110px;
    position: relative;
}
.shoprightin .name{
    color: #333;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: box;
    line-clamo: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}
.shoprightin p{
    width: 100%;
    position: absolute;
    height: 30px;
    line-height: 30px;
    bottom: 5px;
}
.shoprightin .price{
    color: #f33;
    float: left;
}

.shoprightin .nums{
    float: right;
}


/*配送时间发票信息*/
.message{
    width: 100%;
    height: 88px;
    background-color: #fff;
    margin: 5px 0;
}

.message > div{
    width: 100%;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    padding: 0 15px;
    box-sizing: border-box;
}

.message > div:first-child{
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}

.date .time,.invoice .inv{
    float: left;
}

.date input{
    width: 200px;
    height: 44px;
    background-color: #000;
    float: right;
    position: absolute;
    right: 15px;
    top: 0;
    opacity: 0;
}
.date .selecttime{
    width: 200px;
    height: 44px;
    color: #666;
    text-align: right;
    line-height: 44px;
    position: absolute;
    right: 15px;
    top: 0;
}
.selecttime span,.selsectinv span{
    font-family: '宋体';
    font-weight: bold;
}
.invoice .selsectinv{
    float: right;
    width: 200px;
    height: 22px;
    line-height: 22px;
    text-align: right;
    color: #666;
    margin-top: 11px;
}

.note{
    width: 100%;
    height: 110px;
    padding: 5px 15px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 49px;
    font-size: 14px;
    position: relative;
}
.note label{
    position: absolute;
    width: 80px;
}
.note .text{
    padding-left: 80px;
    box-sizing: border-box;
}
.note textarea{
    width: 100%;
    height: 100px;
    border: none;
    resize: none;
    background-color: #f0f0f0;
    padding: 4px;
    box-sizing: border-box;
}


.submit{
    width: 100%;
    height: 44px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -2px 2px #f2f2f2;
}

.submit a{
    position: absolute;
    color: #fff;
    width: 100px;
    height: 44px;
    background-color: #f33;
    line-height: 44px;
    text-align: center;
    right: 0;
}

.ordertext{
    position: absolute;
    left: 15px;
    width: 100%;
    height: 44px;
    padding-right: 110px;
    box-sizing: border-box;
    line-height: 44px;
    font-size: 14px;
}
.ordertext span{
    color: #f33;
}